{% extends "base.html" %}

{% block content %}
<form action="{{url_for('create.insert_tor')}}" enctype="multipart/form-data" method="post">
    <div>
        <label for="spiel">Spiel</label>
        <select id="spiel" name="spiel_fk" required onchange="vereineProSpiel('{{teamsjson}}')">
            <option disabled selected value>Spiel wählen</option>
            {% for spiel in spiele%}
            <option value="{{spiel[0]}}" heim="{{spiel[3]}}" gast="{{spiel[4]}}">{{spiel[1]}}, {{spiel[2]}}, {{spiel[6]}}</option>
            {% endfor %}
        </select>   
    </div>
    <div>
        <label for="team">Verein</label>
        <select id="team" name="team_fk" required>
            <option disabled selected value>Team wählen</option>
            {% for team in teams%}
            <option value="{{team[0]}}">{{team[1]}}, {{team[2]}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="spielername">Spielername</label>
        <input id="spielername" type="text" name="spielername" placeholder="Fabian Poker" required>
    </div>
    <div>
        <label for="nummer">Rückennummer</label>
        <input id="nummer" type="number" name="spielernummer" min="1" max="99" placeholder="17" required>
    </div>
    <div>
        <label for="minute">Minute</label>
        <input id="minute" type="number" name="minute" min="1" max="90" placeholder="0" required>
    </div>
    <div>
        <label for="nsz">Nachspielzeit</label>
        <input id="nsz" type="number" name="nsz" min="0" placeholder="0">
    </div>
    <div>
        <label for="art">Art</label>
        <select id="art" name="art" required>
            <option disabled selected value>Art wählen</option>
            <option value="Strafstoß">Strafstoß</option>
            <option value="Freistoß">Freistoß</option>
            <option value="Kopfball">Kopfball</option>
            <option value="Innerhalb Strafraum">Innerhalb Strafraum</option>
            <option value="Außerhalb Strafraum">Außerhalb Strafraum</option>
            <option value="Eigentor">Eigentor</option>
        </select>
    </div>
    <button type="submit">Anlegen</button>
</form>
{% if success %}
<script>showToast("Tor angelegt")</script>
{% endif %}

{% endblock content %}