
<nav>
    <a href="/">Startseite</a>
    <div class="dropdown">
        <a class="dropdown-opener">Anlegen</a>
        <div class="dropdown-content">
            <a href="{{url_for('create.insert_spiel')}}">Spiel anlegen</a>
            <a href="{{url_for('create.insert_team')}}">Team anlegen</a>
            <a href="{{url_for('create.insert_tor')}}">Tor anlegen</a>
            <a href="{{url_for('create.insert_karte')}}">Karte anlegen</a>
            <a href="{{url_for('create.insert_strafstoss')}}">Strafstoß</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropdown-opener">Statistiken</a>
        <div class="dropdown-content">
            <a href="{{url_for('stats.stats_spiel')}}">Spiele</a>
            <a href="{{url_for('stats.stats_team')}}">Teams</a>
            <a href="{{url_for('stats.stats_tor')}}">Tore</a>
            <a href="{{url_for('stats.stats_karte')}}">Karten</a>
            <a href="{{url_for('stats.stats_strafstoss')}}">Strafstöße</a>
        </div>
    </div>
</nav>