<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Pfiff-Daten-Sammler</title>
  <link href="/static/simple.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/tablesort.min.js"></script>
  <script defer src="/static/scripts.js"></script>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> 
</head>

<body>  
  <header>
    {% include "_navigation.html" %}
    <h1><a href="/" class="headline">Pfiff-Daten-Sammler</a></h1>
  </header>
  <div class="toast-overlay" id="toast-overlay"></div> 
  <script src="/static/toast.js"></script>
  <div class="body">


    {% block content %}
    <p class="notice">
      <img src="/static/img/yellow-32x32.png" class="card-given-img"> Gesamt: {{gelbe}}
      <br>
      <img src="/static/img/yed-32x32.png" class="card-given-img"> Gesamt: {{gelb_rote}}
      <br>
      <img src="/static/img/red-32x32.png" class="card-given-img"> Gesamt: {{rote}}
      <br>
      Alle vergangenen Spiele, standardmäßig sortiert nach Datum:
    </p>
    <table class="table-sortable">
      <thead>
        <tr>
          <th data-sort="date">Datum</th>
          <th data-sort="string">Wettbewerb</th>
          <th data-sort="string">Heim</th>
          <th data-sort="string">Gast</th>
          <th data-sort="string">Ergebnis</th>
          <th data-sort="integer"><img src="/static/img/yellow-32x32.png" class="card-given-img">H</th>
          <th data-sort="integer"><img src="/static/img/yed-32x32.png" class="card-given-img">H</th>
          <th data-sort="integer"><img src="/static/img/red-32x32.png" class="card-given-img">H</th>
          <th data-sort="integer"><img src="/static/img/yellow-32x32.png" class="card-given-img">G</th>
          <th data-sort="integer"><img src="/static/img/yed-32x32.png" class="card-given-img">G</th>
          <th data-sort="integer"><img src="/static/img/red-32x32.png" class="card-given-img">G</th>
        </tr>
      </thead>
      <tbody>
    {% for spiel in spiele %}
        <tr>
          <td>{{spiel[0] | format_date_to_german}}</td>
          <td>{{spiel[1]}}</td>
          <td>{{spiel[2]}}</td>
          <td>{{spiel[3]}}</td>
          <td>{{spiel[4]}}:{{spiel[5]}}</td>
          <td class="yellow">{{spiel[6]}}</td>
          <td class="yed">{{spiel[8]}}</td>
          <td class="red">{{spiel[7]}}</td>
          <td class="yellow">{{spiel[9]}}</td>
          <td class="yed">{{spiel[11]}}</td>
          <td class="red">{{spiel[10]}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <script>document.querySelector('.table-sortable').tsortable();</script>
    {% endblock content %}
  </div>

  <footer>Made by Fasde for Fasde</footer>
</body>


</html>
